@font-face {
    font-family: "Roboto";
    src: url('../css/fonts/roboto.woff2'),
    url("../css/fonts/roboto.woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Medium";
    src: url("../css/fonts/robotomedium.woff2"),
    url("../css/fonts/robotomedium.woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Bold";
    src: url("../css/fonts/robotobold.woff2"),
    url("../css/fonts/robotobold.woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
