* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Medium", "Arial", sans-serif;
}

ul {
    list-style: none;
}

.hidden {
    display: none;
}

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    width: 100%;
    background-color: #eeeeee;
}

.menu__list {
    padding: 24px 0 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__item {
    position: relative;
    font-size: 16px;
    text-transform: uppercase;
}

.menu__link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.menu__link + .menu__link {
    margin-left: 45px;
}

.menu__link--basket:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: -30px;
    background-image: url("../css/img/icon/cart-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
}


.slider {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.slider__list {

    padding: 100px 0 80px 0;
}

.slider__item-title {
    font-size: 55px;
    line-height: 60px;
    padding-bottom: 30px;
}

.slider__item-text {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    color: #5d6367;
    line-height: 24px;
    padding-bottom: 44px;
}

.button {
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    padding: 18px 55px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.bg-red {
    background-color: #fb565a;
}

.slider__controls {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 82px;
    transform: translateX(-50%);
}

.controls__item {
    position: relative;
    width: 25px;
    height: 25px;
}

.controls__item input[type="radio"] + .controls__item-indicator {
    display: block;
    width: 25px;
    height: 25px;
    background-color: white;
    background-image: url("../css/img/icon/radio-off.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}

.controls__item + .controls__item {
    margin-left: 17px;
}

.controls__item input[type="radio"]:checked + .controls__item-indicator {
    width: 25px;
    height: 25px;
    background-image: url("../css/img/icon/radio-on.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.advantages__list {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    padding: 83px 0;
}

.advantages__item {
    max-width: 300px;
}

.advantages__item-button-pink {
    background-color: #fb565a;
}

.advantages__item-button-green {
    background-color: #00ca74;
}

.advantages__item-button-yellow {
    background-color: #efc849;
}

.advantages__item-img {
    width: 100%;
    object-fit: cover;
}

.advantages__item-title {
    font-family: "Roboto Bold", "Arial", sans-serif;
    font-size: 24px;
    line-height: 77px;
    text-transform: uppercase;
}

.advantages__item-text {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 38px;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: #eeeeee;
}

.logos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 30px;
}

.logos__img {
    max-width: 200px;
    object-fit: contain;
}

.description {
    padding: 30px 0 80px 0;
}

.description__list {
    display: flex;
    gap: 140px;
}

.description__indicators {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
}

.description__indicators-title {
    display: inline-block;
    font-family: "Roboto Bold", "Arial", sans-serif;
    font-size: 45px;
    padding-bottom: 25px;
}

.description__indicators-text {
    font-family: "Roboto", "Arail", sans-serif;
    font-size: 16px;
    color: #283136;
}

.description__item {
    min-width: 360px;
}

.tac {
    text-align: center;
}

.description__item-subtitle {
    font-family: "Roboto", "Arail", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 70px;
}

.description__item-title {
    font-size: 45px;
    display: inline-block;
    padding-bottom: 35px;
}

.description__item-text {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.description__order-item {
    position: relative;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 54px;
    padding-left: 40px;
}

.description__order-item:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 3px;
    width: 25px;
    background-color: red;
}

.map {
    position: relative;
}

.map__img {
    display: block;
    margin: 0 auto;
    max-width: 1440px;
    object-fit: cover;
    padding-top: 80px;
}

.map__pin:before {
    position: absolute;
    top: 204px;
    left: 882px;
    width: 231px;
    height: 190px;
    content: "";
    background-image: url("../css/img/map-marker.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.map__info {
    display: inline-block;
    position: absolute;
    top: -360px;
    left: 0;
    padding: 52px 52px;
    background-color: white;
}

.map__info-title {
    font-family: "Roboto Bold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 30px;
}

.map__info-text {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    color: #666666;
    padding-bottom: 40px;
}

.map__info-text--tel {
    padding-bottom: 20px;
}

.footer {
    padding: 70px 0;
}

.footer__list {
    display: flex;
    align-items: center;
    gap: 140px
}

.footer__item {
    height: 100%;
    display: flex;
    gap: 14px
}

.social__icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #e1e1e1;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.vk {
    background-image: url("../css/img/icon/vk-icon.svg");
    background-size: 26px 15px;
}

.fb {
    background-image: url("../css/img/icon/fb-icon.svg");
    background-size: 15px 24px;
}

.instagram {
    background-image: url("../css/img/icon/insta-icon.svg");
    background-size: 23px 23px;
}
.footer__item-title {
    display: inline-block;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 17px;
}
.footer__item-text{
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}
